argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
Django==4.0.3
django-cors-headers==3.14.0
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
psycopg2-binary==2.9.5
PyJWT==2.6.0
sqlparse==0.4.2
urllib3==1.26.8
virtualenv==20.10.0
